#graph_vis_menu{
    border: 1px solid gray;
    padding: 20px;
}



.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.force_layout_node_over{
    stroke:black;
    stroke-width:1;
    fill: #01a817;
}
.force_layout_node_click{
    stroke:black;
    stroke-width:1;
    fill: rgb(189, 7, 7);
}


.force_layout_node {
    stroke:black;
    stroke-width:1;
    fill: white;
}


.rect_mouseover{
    fill:orange;
    stroke: black;
    stroke-width:1;
}

.rect_normal{
    fill:gray;
    stroke: gray;
    stroke-opacity: 0.5;
    stroke-width:1;
}

.rect_error{
    fill:red;
    stroke: black;
    stroke-width:1;
}
.rect_current{
    fill: orange;
    stroke: black;
    stroke-width: 1;
}

.rect_highlight{
    fill: orange;
    stroke: black;
    stroke-width: 1;
}

